<!DOCTYPE html>
<head></head>
<body>
    <h1>Index de aplicacion Modelos</h1>
    <h2>Lista de enlaces</h2>
    <ul>
        <li><a href= "{% url 'lista_proyectos' %}">Ejercicio 2 Proyectos</a></li>
        <li><a href= "{% url 'tarea_proyecto' 2%}">Ejercicio 3Tarea de cada proyecto</a></li>
        <li><a href= "{% url 'usuario_tarea' 4%}">Ejercicio 4Usuario asignado a una determinada tarea</a></li>
        <li><a href= "{% url 'observacion_tarea' 'Present'%}">Ejercicio 5 buscar tareas con un determinado texto en la asignacion</a></li>
    </ul>
</body>