<html>
    {% load static %}
    <head>
        <title>Proyecto</title>
        {%block css%}
        <link rel="stylesheet" href="{%static 'estilo.css'%}">
        {%endblock%}
        <script src="{% static 'javascript/tutorial.js'%}"></script>
    <head>
    <body>
        {%block enlaces %}
        <p><a href= "{% url 'lista_proyectos' %}">Ejercicio 2 Proyectos</a></p>
        <p><a href= "{% url 'tarea_proyecto' 2%}">Ejercicio 3Tarea de cada proyecto</a></p>
        <p><a href= "{% url 'usuario_tarea' 4%}">Ejercicio 4Usuario asignado a una determinada tarea</a></p>
        <p><a href= "{% url 'observacion_asignacion' 'two'%}">Ejercicio 5 buscar tareas con un determinado texto en la asignacion</a></p>
        <p><a href= "{% url 'tareas_anhos' 2000 2023%}">Ejercicio 6 mostrar tareas creadas entre dos años y completadas</a></p>
        <p><a href= "{% url 'ultimo_comentario' 2%}">Ejercicio 7 último usuario que ha comentado en un proyecto dado</a></p>
        <p><a href= "{% url 'comentarios_palabra_fecha' 'Fast' 2023%}">Ejercicio 8 Mostrar comentarios que empiecen por 1 palabra y sea de un año concreto</a></p>
        <p><a href= "{% url 'etiquetas_proyecto' 2%}">Ejercicio 9 Etiquetas de un proyecto</a></p>
        <p><a href= "{% url 'usuarios_sin_tarea'%}">Ejercicio 10 Usuarios sin tareas asignadas</a></p>
        {%endblock%}

    </body>