<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
        <script src="{% static 'javascript/tutorial.js'%}"></script>

    </head>
    <body>
        {%include 'nav.html'%}
        {%block cabecera%}
            <p>esto es el block de la cabecera</p>
        {%endblock%}
        {%block contenido%}
            <p>Este es el block del contenido</p>
        {%endblock%}

        <img src="{% static 'imagenes/gimnasio2.jpg' %}" alt="imagen para ver que funciona">
        {%include 'pie.html'%}
    
    </body>